<div class="d-flex justify-content-center align-items-center vh-100" >
  <div class="card shadow-lg p-5" style="max-width: 800px; width: 100%; border-radius: 15px; background: white;">
    <h1 class="mb-5 text-center text-primary">Willkommen 👋</h1>
    
    <div class="d-flex gap-3 justify-content-center flex-wrap">
      <button class="btn btn-primary flex-fill py-3 rounded-pill shadow" (click)="goToForm()">
        📝 Formular
      </button>

      <button class="btn btn-success flex-fill py-3 rounded-pill shadow" (click)="goToList()">
        📋 Liste
      </button>
    </div>
  </div>
</div>
 