<div class="container mt-5 d-flex justify-content-center">
  <div class="card shadow-lg p-4 glass-card" style="max-width: 800px; width: 100%; border-radius: 15px;">

    <h2 class="mb-4 text-center text-primary">Gesundheitsfragen</h2>

    <form (ngSubmit)="submitQuestions()">
      <div *ngFor="let q of questions; let i = index" class="mb-4">
              <h3 class="question-title">{{ q.titre }}</h3>
        <label class="form-label fw-bold custom-label">{{ q.texte }}</label>
        <div *ngFor="let opt of q.options" class="form-check">
          <input class="form-check-input" type="radio" [name]="'q' + i" [value]="opt.label"
          [(ngModel)]="reponses[i]">
          <label class="form-check-label">{{ opt.label }}</label>
        </div>
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-secondary px-4 py-2 shadow-sm rounded-pill" (click)="goBack()">
          Zurück
        </button>
&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary px-4 py-2 shadow-sm rounded-pill">
          Schicken
        </button>
      </div>
    </form>

    <!-- Modal Bootstrap centré -->
    <div class="modal fade show" tabindex="-1" *ngIf="showModal"
      [ngStyle]="{'display':'block', 'background':'rgba(0,0,0,0.5)'}">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Kundenstatus</h5>
            <button type="button" class="btn-close" (click)="showModal=false"></button>
          </div>
          <div class="modal-body">
           
            <p>Zustand : {{ etatClient }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="closeModal()">Schließen</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>